@page "/registertest"

<style>
    /* Hintergrundbild */
    .login-bg {
        background-image: url('pictures/FarmBackground.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
    }
    
    .login-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        padding-right: 50px;
    }
</style>

<div class="login-bg">
    <div class="login-right">

    <!-- Login-Karte -->
    <div class="card shadow p-4" style="width: 400px; border-radius: 15px; background: rgba(255, 255, 255, 0.9);">

        
        <!--Logo und Titel -->
        <div class="text-center mb-4">
            <img src="pictures/EliteGärtner-logo.png" alt="EliteGärtner Logo" style="width:80px;"/>
            <h2 class="elitegaertner-title mt-2" style="font-weight: 600; font-size: 2.5rem;">EliteGärtner.</h2>
        </div>
        
        <!--Name Inputfeld -->
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input class="form-control" placeholder="" @bind="sirname"/>
        </div>

        <!--Vorname Inputfeld -->
        <div class="mb-4">
            <label class="form-label">Vorname</label>
            <input class="form-control" placeholder="" @bind="prename"/>
        </div>
        
        <!--Email Inputfeld -->
        <div class="mb-4">
            <label class="form-label">Email</label>
            <input class="form-control" placeholder="" @bind="email"/>
        </div>
        
        <!--Benutzername Inputfeld -->
        <div class="mb-4">
            <label class="form-label">Benutzername</label>
            <input class="form-control" placeholder="@@" @bind="username"/>
        </div>

        <!--Passwort Inputfeld -->
        <div class="mb-4">
            <label class="form-label">Passwort</label>
            <input class="form-control" type="password" placeholder="" @bind="password"/>
        </div>
        
        <!-- Registrieren Button -->
        <button class="btn w-100 mb-3" style="background-color:#8011d1; color:white;" @onclick="FakeLogin">
            Registrieren
        </button>

        <!-- Anmelden-Link -->
        <p class="text-center text-muted mb-0">Ich habe bereits einen Account?</p>
        <p class="text-center">
            <a href="/ " style="color:#8011d1; font-weight:bold;">Jetzt Anmelden</a>
        </p>
        </div>
    </div>
</div>

@code {
    string sirname = "";
    string prename = "";
    string email = "";
    string username = "";
    string password = "";

    void FakeLogin()
    {
        Console.WriteLine($"Eingegeben: {email} / {password} / {username} / {sirname} / {prename}");
    }
}
