@page "/registrierung/willkommenregistrierung"

@layout Layout.MainLayout


@using AppLogic.Interfaces
@using PresentationLayer.State
@inject UserRegistrationState RegistrationState
@inject NavigationManager Nav
@inject Microsoft.Extensions.Logging.ILogger<WillkommenRegistrierung> Logger

<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">

<div class="page-container background-style">
    <div class="welcome-centering-container">
        <div class="welcome-container comic-box">
            <div class="text-center">
                <h2 class="comic-text">Willkommen bei</h2>
                
                <div class="logo-wrapper">
                    <img src="pictures/EliteGärtner_logo.png" alt="EliteGärtner Logo" class="logo-img-styled"/>
                </div>
                
                <h1 class="elitegaertner-title-welcome">EliteGärtner.</h1>
                
                <div class="divider-dashed"></div>
                
                <h2 class="sub-message">Du hast dich erfolgreich registriert!</h2>
                
                <div class="button-section">
                    <button type="button" class="save-button garden-btn" @onclick="GoToStartseite">
                        🔍 Finde deinen Traumgärtner
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        Logger.LogInformation("WillkommenRegistrierung initialized.");
    }

    private void GoToStartseite()
    {
        Logger.LogInformation("Navigating from WillkommenRegistrierung to Login (/).");
        Nav.NavigateTo("/", forceLoad: true);
    }
}