@page "/Welcome"

<div class="text-center mb-4">
    <img src="pictures/EliteG채rtner-logo.png" alt="EliteG채rtner Logo" style="width:100px;"/>
    <h2 class="elitegaertner-title mt-2">EliteG채rtner.</h2>
    <p class="">Herzlich willkommen in deiner G채rtnercommunity! </p>
</div>